* {
   box-sizing: border-box; 
}

/* navbar */

.logo {
   height: 40px;
   padding-right: 20px;
}

.github{
   fill: #0A66C2;
}

.linkedin {
   fill: #181717;
}
/* /navbar */

/*  about */




/* /about */

/* services cards */


